.body {
    margin: 0;
}

.header {
    height: 1200px;
    background-image: url("../img/headerImg.jpg");
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 250px;
    float: left;
}
.header__nav-list {
    list-style: none;
    padding: 0;
    width: 500px;
}
.header__nav-item {
    display: inline-block;
    margin: 0 15px 0 15px;
}
.header__nav-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.9rem;
}
.header__nav-item-link:hover {
    color: var(--600)
}
.header__nav-list--list3 {
    padding-left: 200px;
}
.header__nav-list--list2, .header__nav-list--list3 {
    padding-top: 40px;
}
.headerContentDiv {
    height: 10rem;
    padding: 0 0 0 10rem;
}
.headerContentDiv__h1 {
    color: var(--white-color);
    font-size: 10rem;
    font-family: "PT Serif", serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 0;
}
.headerContentDiv__h2 {
    color: var(--white-color);
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 3rem;
    font-style: normal;
}
.slideDots {
    padding-right: 10rem;
    display: grid;
    gap: 1.7rem;
    justify-content: end;
}
.dot, .dot1 {

    cursor: pointer;
    height: 1.7rem;
    width: 1.7rem;
    margin: 0 2px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot1 {
    background-color: var(--500);
    
}
.chevronArrows {
    margin-left: 5px;
    display: grid;
}
.chevronArrow1 {
    width: 1.1rem; 
    height: 1.1rem;
    display: inline-block;
    border-right: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    rotate: -135deg;
}
.chevronArrow2 {
    width: 1.1rem; 
    height: 1.1rem;
    display: inline-block;
    border-right: 2px solid var(--500);
    border-bottom: 2px solid var(--500);
    rotate: 45deg;
}
.booker {
    width: 150rem;
    height: 20rem;
    margin-top: 20rem;
    display: flex; 
}
.booker__booker1 {
    width: 133rem;
    height: 20rem; 
    border: solid none;
    background-color: var(--white-color);
    border-left: none;
}
.booker__booker1-list1 {
    margin-top: 5rem;
    margin-left: 12rem;
}
.booker__booker1-list2 {
    margin-left: 12rem;
    position: relative; 
}
.booker__booker1-list1-content1, .booker__booker1-list1-content2, .booker__booker1-list1-content3, .booker__booker1-list1-content4 {
    display: inline-block;
    text-align: left;
    height: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #696969;
    margin-bottom: 7px;
}
.booker__booker1-list1-content1, .booker__booker1-list1-content2 {
    width: 25rem;
}
.booker__booker1-list1-content3, .booker__booker1-list1-content4 {
    width: 30rem;
}
.booker__booker1-list2-content1, .booker__booker1-list2-content2, .booker__booker1-list2-content3, .booker__booker1-list2-content4 {
    text-align: left;
    height: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: black;
    list-style: none;
    margin-top: 15px;
    display: inline-block;
}
.booker__booker1-list2-content1, .booker__booker1-list2-content2 {
    width: 25rem;
}
.booker__booker1-list2-content3, .booker__booker1-list2-content4 {
    width: 30rem;
}
.booker__booker1-list2-content1::after {
    content: "  ";
    position: absolute;
    left: 0;
    bottom: -0.1rem; 
    width: 18rem; 
    height: 1px; 
    background-color: black; 
    margin-left: 3.8rem;
}
.booker__booker1-list2-content2::after {
    content: "  ";
    position: absolute;
    left: 0;
    bottom: -0.1rem; 
    width: 18rem; 
    height: 1px; 
    background-color: black; 
    margin-left: 29rem;
}
.booker__booker1-list2-content3::after {
    content: "  ";
    position: absolute;
    left: 0;
    bottom: -0.1rem; 
    width: 22rem; 
    height: 1px; 
    background-color: black; 
    margin-left: 54.3rem;
}
.booker__booker1-list2-content4::after {
    content: "  ";
    position: absolute;
    left: 0;
    bottom: -0.1rem; 
    width: 20rem; 
    height: 1px; 
    background-color: black; 
    margin-left: 85rem;
}
.booker__booker1-list2-content21, .booker__booker1-list2-content22 {
    display: inline-block;
}
.booker__booker1-list2-content22 {
    width: 1rem; 
    height: 1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    rotate: 45deg;
    margin-left: 15rem;
}
.booker__booker1-list2-content31, .booker__booker1-list2-content32 {
    display: inline-block;
}
.booker__booker1-list2-content32 {
    width: 1rem; 
    height: 1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    rotate: 45deg;
    margin-left: 3rem;
}
.booker__booker1-list2-content41, .booker__booker1-list2-content42 {
    display: inline-block;
}
.booker__booker1-list2-content42 {
    width: 1rem; 
    height: 1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    rotate: 45deg;
    margin-left: 2.7rem;
}
.booker__booker2 {
    width: 17rem;
    height: 20rem;
    border: solid none;
    background-color: var(--500);
    border-top-right-radius: 2rem; 
    border-bottom-right-radius: 2rem; 
    display: flex;
    align-items: center;
}
.booker__booker2-content {
    margin-left: 1rem;
    font-size: 4rem;
    color: var(--white-color);
    line-height: 5rem;
}
.booker__booker2-arrow {
    color: var(--white-color);
    font-size: 3.5rem;
    margin-right: 1rem;
}



