.body {
    margin: 0;
}

.header {
    height: 1200px;
    background-image: url("../img/headerImg.jpg");
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__nav-logo {
    width: 250px;
}
.header__nav-list {
    list-style: none;
}
.header__nav-item {
    display: inline-block;
}
.header__nav-item-link {
    color: var(--white-color);
    text-decoration: none;
}